*{
    text-decoration: none;
}
body{
    min-height: 400px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color:#222;
}
a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
.navbar{
    display: flex;
    justify-content:flex-end;
    max-width:1920px;
    margin: 10px 30px;
    
}
.right-side-nav{
    display:flex;
    justify-content: space-evenly;
}
.navbar a{
    padding: 8px;
    color:rgba(0,0,0,0.87);
    height:36px;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}
.navbar svg{
    height: 24px;
    width:24px;
    color:#5f6368;
    fill:currentColor;
    
}
.navbar .select-icon{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 15px;
}
.navbar .select-icon:hover{
    background-color: rgba(60,64,67,0.08);
    border-radius: 50%;
}
.navbar .select-icon a{
    height:40px;
}
.navbar-link{
    margin-left:15px;
}
.footer{
    max-width:1920px;
    margin: auto;
    background-color:#f2f2f2;
    display:flex;
    flex-direction: column;
    
}
.link{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 30px;
    height:46px;

}
.right-side-footer{
    display:flex;
    justify-content: space-evenly;
}
.link a{
    padding: 5px 15px;
    color:#70757a;
}
.country-footer{
    height:46px;
    display:flex;
    align-items: center;
    padding: 0 40px; 
    border-bottom: solid 1px #dadce0;
    color: #70757a;
}

main{
    min-height: calc(100vh - 61px - 92px);
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.search-session{
    padding:20px;
}
main img{
    margin: 0 auto;
    padding:0 auto;
    min-height: 92px;
    max-height: 290px;
}

.search-bar{
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding:0 auto;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    max-width: 600px;
    height: 44px;
}
.search-bar span{
    display:flex;
    width: 23px;
    justify-content: space-evenly;
    color:#9aa0a6;
}
.search-bar svg{
    margin: 0;
    /* padding: 0 10px 0 0; */
    fill: currentColor;
}

.search-bar input{
    width: calc(100% - 100px);
    border: none;
    margin: 0 10px;
}
#search-box{
    outline:none;
}

#clear-text{
    visibility: hidden;
    cursor: pointer;
}

.search-btn{
    padding-top:18px;
}

.search-btn button{
    text-decoration: none;
    border: none;
    padding: 7px 16px;
    margin: 11px 4px;
    color:#3c4043;
    background-color: #f8f9fa;
    border: solid 1px #f8f9fa;
    cursor: pointer;
    border-radius: 4px;
}

.search-btn button:hover{
    border: solid 1px #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.btn-sign{
    display:flex;
    align-items: center;
    justify-content: center;
}
#btn-signin{
    border:1px solid #1a73e8;
    background:#1a73e8;
    color:white;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 0.25px;
    line-height:20px;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    padding: 7px 23px;
}
#btn-signin:hover{
    border:1px solid #2b7de9;
    background:#2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

.language-change{
    font-size: 12px;
    padding: 15px 0px;
}

.language-change a{
    color: #1a0dab;
    letter-spacing: 0.5px;
    padding: 0 2px;
}

.language-change a:hover, a:active{
    text-decoration: underline;
}

@media only screen and (max-width:1200px){
    .link{
        justify-content: space-evenly;
    }
}